.barbers__cards__block {
  margin: 10px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.barber__card {
  position: relative;
  width: calc(33% - 5px);
  min-width: 275px;
  max-width: 315px;
  background-color: #537e5f;
  border: 2px solid #f4f5f7;
  border-radius: 7px;
  padding: 15px;
  z-index: 1;
}

.barber__card .barber__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.barber__card__text {
  color: #333;
}

.barber__card .barber__card__footer {
  justify-content: center;
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.barber__card__footer .barber__card__button {
  margin-top: auto;

}

.barber__card__button {
  color: #eee;
  border-radius: 5px;
  background-color: #57865a;
  font-style: italic;
  cursor: pointer;
}

.person-info {
    display: flex; 
    align-items: center; 
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #eee; 
    min-height: 80px;
}


.person-photo {
    width: 60px; 
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden; 
   
    border: 2px solid #ddd;
}

.person-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.person-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333; 
    margin-bottom: 3px;
}

.person-role {
    font-size: 0.9rem;
    color: #f9f6f6;
}